section.main>h2 {
  background: #344455;
  font-family: 'Lato-Hairline';
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  padding: 30px 150px;
  margin: 0;
}

section.main div.heir {
  background: #fff;
  padding-bottom: 50px;
}

section.main section {
  text-align: center;
  margin: 0 150px;
  font-family: 'Lato-Hairline';
}

section.main section>h2 {
  font-family: 'Lato-Light';
  font-weight: 400;
  font-size: 40px;
  line-height: 1em;
  color: #16a085;
  margin: 0;
  padding-top: 70px;
  padding-left: 10px;
}

section.main section>p {
  font-weight: 800;
  color: #25a68d;
  margin: 30px 0;
}

section.main section>h2 + p {
  color: #b0b0b0;
  font-size: 14px;
}

section.main section>h2 + p + p {
  line-height: 1.5em;
  color: #7f8c8d;
}

section.main section>p:nth-child(4) {
  margin: 0;
}

section.main section>h2 + p>a {
  color: #b0b0b0;
  font-size: 14px;
}

section.main p:last-child>a {
  text-decoration: none;
  color: #25a68d;
  font-size: 12px;
}
